.test-div {
  background-color: violet;
  border : 1px solid black;
  position: relative;
  width:20%;
  transition: width 1s, height 1s, opacity 1s;
  height : 200px;
  overflow: visible;
  }
.ui.button  {
  margin: 10px !important;
}